<!DOCTYPE html>
<html>
<head>
  <title>Stellar multisig rails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "stellar_multisig/rails/application", media: "all" %>
  <%= javascript_include_tag "stellar_multisig/rails/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
